<!doctype html>
<html>
    <title>Add a new squirrel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <body>
            <!-- Custom styles for this template -->
               {% load static %}
            <link href="{% static 'sightings/radio.css' %}" rel="stylesheet">
            <form method="post" class="w3-container w3-card-4 w3-light-gray w3-margin">
                <div class="w3-container w3-teal">
                    <h1 class="w3-center">Add a New Squirrel's information</h1>
                </div>
                        {% csrf_token %}
                        {{ form.as_p}}
                    <p class="w3-center">
                        <input class="w3-button w3-block w3-teal w3-ripple" type="submit" name="Update" value="Update"><br>
                    </p>
            </form>
        </body>
</html>
