<!doctype html>
<html>
    <title>Squirrel Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-container w3-light-gray">
        <h2>Squirrel Statistics</h2>

        <table class="w3-table w3-striped w3-bordered">
            <tr class="w3-teal" style="text-shadow:1px 1px 0 #444">
                <th>Attibute</th>
                <th>Value</th>
                <th>Proportion</th>
            </tr>
            <tr>
                <td>Number of squirrel sighting</td>
                <td>{{s_cnt}}</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Number of adult squirrel</td>
                <td>{{s_adult}}</td>
                <td>{{p_adult}}</td>
            </tr>
            <tr>
                <td>Number of juvenile squirrel</td>
                <td>{{s_juv}}</td>
                <td>{{p_juv}}</td>
            </tr>
            <tr>
                <td>Number of gray squirrel</td>
                <td>{{s_gray}}</td>
                <td>{{p_gray}}</td>
            </tr>
            <tr>
                <td>Number of cinnamon squirrel</td>
                <td>{{s_cin}}</td>
                <td>{{p_cin}}</td>
            </tr>
            <tr>
                <td>Number of black squirrel</td>
                <td>{{s_black}}</td>
                <td>{{p_black}}</td>
            </tr>
            <tr>
                <td>Number of squirrel in the ground plane</td>
                <td>{{s_gound}}</td>
                <td>{{p_g}}</td>
            </tr>
            <tr>
                <td>Number of squirrel above ground</td>
                <td>{{s_above}}</td>
                <td>{{p_a}}</td>
            </tr>
            <tr>
                <td>Number of squirrel running and chasing</td>
                <td>{{s_run_chase}}</td>
                <td>{{p_r}}</td>
            </tr>
            <tr>
                <td>Number of squirrel eating and foraging</td>
                <td>{{s_eat_forage}}</td>
                <td>{{p_e}}</td>
            </tr>
            <tr>
                <td>Number of squirrel in the morning</td>
                <td>{{s_am}}</td>
                <td>{{p_am}}</td>
            </tr>
            <tr>
                <td>Number of squirrel in the evening</td>
                <td>{{s_pm}}</td>
                <td>{{p_pm}}</td>
            </tr>
    </table>
    </div>
</body>

</html>
